bin/
tmp/
.externalToolBuilders/
.recommenders/

*.tmp
*.bak
*.sqlite
*.swp
*~.nib
*.launch
*.pydevproject

local.properties
.loadpath
.recommenders
.metadata
.cproject
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.DS_Store
